<a href="https://colab.research.google.com/github/SAYANSAHA-MCA2024-26-33-UEMK/PYTHON/blob/main/PYTHON_PROGRAMMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SLICING

In [ ]:
list=[40,50,20,30,90]
a=list[1:3]
print(a)
'''print(list[1:3])'''

[50, 20]

'print(list[1:3])'

In [ ]:
list=[40,50,20,30,90]
a=list[1:4]
print(a)

[50, 20, 30]

In [ ]:
list=[40,50,20,30,90]
a=list[:5]
print(a)

[40, 50, 20, 30, 90]

In [ ]:
list=[40,50,20,30,90]
a=list[::-1]
print(a)

[90, 30, 20, 50, 40]

In [ ]:
list=[40,50,20,30,90]
a=list[0:4:2]
print(a)

[40, 20]

In [ ]:
list=[40,50,20,30,90]
a=list[0:2:2]
print(a)

[40]

# BASIC PYTHON

In [ ]:
'''Write a PYTHON Program to Print “HELLO PYTHON”.'''
print("HELLO PYTHON")

HELLO PYTHON

In [ ]:
'''Write a Java Program to add two numbers by declaring variables value.'''
a=int(input("enter the 1st number:"))
b=int(input("enter the 2nd number:"))
sum=a+b
print("the sum of the two number:",sum)

enter the 1st number:5
enter the 2nd number:6
the sum of the two number: 11

In [ ]:
"Write a Java program to swap two numbers."
a=int(input("enter the 1st number:"))
b=int(input("enter the 2nd number:"))
print("before swapping the value")
print("1st value is:",a)
print("2nd value is:",b)
print("after swapping the value")
swap=a
a=b
b=swap
print("1st value is:",a)
print("2nd value is:",b)

enter the 1st number:5
enter the 2nd number:4
before swapping the value
1st value is: 5
2nd value is: 4
after swapping the value
1st value is: 4
2nd value is: 5

# STAR PATTERN

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

enter the number:5
*
**
***
****
*****

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if((i+j)<=n):
      print(end=" ")
    else:
      print("*",end="")
  print("")

enter the number:5
    *
   **
  ***
 ****
*****

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for k in range(1,n-i+1):
    print(end=" ")
  for j in range(1,2*i-1+1):
    print("*",end="")
  print("")

enter the number:5
    *
   ***
  *****
 *******
*********

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for k in range(1,n-i+1):
    print(end=" ")
  for j in range(1,2*i-1+1):
    print("*",end="")
  print("")
for i in range(n-1,0,-1):
  for k in range(1,n-i+1):
    print(end=" ")
  for j in range(1,2*i-1+1):
    print("*",end="")
  print("")

enter the number:5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if((i+j)<=n):
      print(end=" ")
    else:
      print("*",end=" ")
  print("")

enter the number:5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if((i+j)<=n):
      print(end=" ")
    else:
      print("*",end=" ")
  print("")
for i in range(n-1,0,-1):
  for j in range(1,n+1):
    if((i+j)<=n):
      print(end=" ")
    else:
      print("*",end=" ")
  print("")

enter the number:5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n):
      print("*",end="")
    else:
      print(end=" ")
  print("")

enter the number:5
*****
*   *
*   *
*   *
*****

In [ ]:
n = 4
for x in range(n):
    px = 1
    print(" " * (n - x), end="")
    for y in range(x + 1):
        print(px, end=" ")
        px = px * (x - y) // (y+1)
    print("")

    1
   1 1
  1 2 1
 1 3 3 1

In [ ]:
n = 7
px = n // 2 + 1
for x in range(1, n + 1):
    for y in range(1, n + 1):
        if y == px or y == n - px + 1:
            print("*", end="")
        else:
            print(" ", end="")
    if x <= n // 2:
        px -= 1
    else:
        px +=1
    print()

   *
  * *
 *   *
*     *
 *   *
  * *
   *

# NUMBER PATTERN

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

enter the number:5
1
12
123
1234
12345

In [ ]:
n=int(input("enter the number:"))
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end=" ")
    k+=1
  print()

enter the number:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# LOOP

In [ ]:
"Write a Java Program to calculate factorial value of a declared variable."
a=int(input("enter the number:"))
fact=1
for i in range(1,a+1):
  fact=fact*i
print("the factorial is:",fact)

enter the number:5
the factorial is: 120

# DECISION_MAKING

In [ ]:
"Write a Java Program to display whether a number is odd or even"
a=int(input("enter the number:"))
if(a%2==0):
  print(a," is a EVEN number")
else:
  print(a," is a ODD number")

enter the number:5
5  is a ODD number

In [ ]:
"Write a Java program to find maximum of three numbers."
a=int(input("enter the 1st number:"))
b=int(input("enter the 2nd number:"))
c=int(input("enter the 3rd number:"))
if(a>b):
  if(a>c):
    print(a," 1st value is a maximum value")
  else:
    print(c," 3rd value is a maximum value")
else:
  if(b>c):
    print(b," 2nd value is a maximum value")
  else:
    print(c," 3rd value is a maximum value")

enter the 1st number:5
enter the 2nd number:6
enter the 3rd number:4
6  1st value is a maximum value

In [ ]:
"Write a Java program to check whether a year is leap year or not."
year=int(input("enter the year:"))
if(year%100==0):
  if(year%400==0):
    print(year," is a leap year")
  else:
    print(year," is a not leap year")
else:
  if(year%4==0):
    print(year," is a leap year")
  else:
    print(year," is a not leap year")

enter the year:2012
2012  is a leap year

In [ ]:
'''Write a Java program for following grading system.
Note: Percentage>=90% : Grade A
Percentage>=80% : Grade B
Percentage>=70% : Grade C
Percentage>=60% : Grade D
Percentage>=40% : Grade E
Percentage < 40% : Grade F'''
marks=int(input("enter the marks:"))
if(marks<=100 and marks>=90):
  print(marks," Grade A")
elif(marks<=90 and marks>=80):
  print(marks," Grade B")
elif(marks<=80 and marks>=70):
  print(marks," Grade C")
elif(marks<=70 and marks>=60):
  print(marks," Grade D")
elif(marks<=60 and marks>=40):
  print(marks," Grade E")
elif(marks<=40 and marks>=0):
  print(marks," Grade F")

enter the marks:20
20  Grade f

In [ ]:
"Write a Java Program to check whether a number is divisible by 5 or not."
a=int(input("enter the number:"))
if(a%5==0):
  print(a," is divisible by 5")
else:
  print(a," is not divisible by 5")

enter the number:23
23  is not divisible by 5